@if (openDialog) {
<app-new-task (closeDialog)="closeDialog()" [getUserId]="receivedId()" ></app-new-task>
}

<section id="tasks">

    <header>
        <h2>{{userName()}} 's tasks</h2>
        <menu>
            <button (click)="addTask()">Add Task</button>
        </menu>
    </header>

    <ul>

        @if (getUserTask().length > 0) {
        @for (item of getUserTask(); track $index) {
        <li>
            <app-employee-task [employeeTaskDetails]="item" (sendingId)="completedTaskId($event)"></app-employee-task>
        </li>
        }
        }
        @else{
        <div class="notavailable">
            <span>Tasks not available</span>

        </div>
        }

    </ul>
</section>