.otp-generator {
    &__inner {
        max-width: 500px;
        margin: auto;
        padding: 24px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 12px;
    }

    &__header {
        display: flex;
        gap: 24px;
        flex-direction: column;
        margin-top: 12px;
    }

    &__heading {
        color: white;
        text-align: center;
        font-size: 25px;

    }

    &__container {
        display: flex;
        gap: 24px;
        margin: 24px 0;
    }

    &__text {
        color: white;
        font-size: 16px;
        font-style: italic;
        text-align: center;
    }

    &__digits-number {
        color: white;
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 24px;
        text-align: center;
    }

    &__submit {
        padding: 12px;
        color: white;
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 12px;
        transition: 0.25s all;

        &:hover,
        &.sidearm-hover,
        &:focus {
            background: black;
        }
    }

    &__otp {
        color: white;
        font-size: 22px;
    }

    &__copy {
        padding: 8px;
        border-radius: 8px;
        color: white;
        background: black;
        border: 1px solid white;
        transition: 0.25s all;

        &:hover,
        &.sidearm-hover,
        &:focus {
            background: white;
            color: black;
        }
    }
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

input[type=range] {
    appearance: none;
    height: 20px;
    width: 100%;
    border-radius: 4px;
    position: relative;
}