<div class="otp-generator">
    <div class="otp-generator__inner">
        <h1 class="otp-generator__heading">OTP-generator !</h1>
        <div class="otp-generator__header ">
            <div class="otp-generator__text">Please Move pointer to select number of digit to get as <b>OTP</b></div>
        </div>
        <div class="otp-generator__container">
            <input type="range" name="" step="1" min="4" max="10" id="range" (change)="display = true"
                [(ngModel)]="range">
            @if (display) {
            <div class="otp-generator__digits-number">{{range}} </div>
            }
        </div>

        @if (display) {
        <button class="otp-generator__submit" (click)="generateOtp()">Generate Otp</button>
        }
        @if (otpDisplay) {
        <div class="otp-generator__details">
            <H3 class="otp-generator__otp"> Your {{range}} digit generated Otp is: <span> <b> {{value}}</b></span> </H3>
            <button class="otp-generator__copy" (click)="copyText(value)">Copy</button>
        </div>
        }

    </div>
</div>