<div class="employeelist">
    <div class="employeelist__inner">
        <app-header></app-header>

        <div class="employeelist__user">
            <main>
                <ul id="users">
                    <li>
                        <app-user-component [userId]="users[0].id" (userid)="selectedUser($event)"
                            [name]="users[0].name" [avatar]="users[0].avatar" />
                    </li>
                    <li>
                        <app-user-component [userId]="users[1].id" (userid)="selectedUser($event)"
                            [name]="users[1].name" [avatar]="users[1].avatar" />
                    </li>
                    <li>
                        <app-user-component [userId]="users[2].id" (userid)="selectedUser($event)"
                            [name]="users[2].name" [avatar]="users[2].avatar" />
                    </li>
                    <li>
                        <app-user-component [userId]="users[3].id" (userid)="selectedUser($event)"
                            [name]="users[3].name" [avatar]="users[3].avatar" />
                    </li>
                    <li>
                        <app-user-component [userId]="users[4].id" (userid)="selectedUser($event)"
                            [name]="users[4].name" [avatar]="users[4].avatar" />
                    </li>
                </ul>
                <app-tasks [userName]="selectedUserName" />
            </main>
        </div>
    </div>
</div>