<div class="employeelist">
    <div class="employeelist__inner">
        <app-header></app-header>

        <div class="employeelist__user">
            <main>
                <ul id="users">
                    @for (item of users; track $index) {
                    <li>
                        <app-user-component [selected]="item.id === receivedId" [receivedDetails]="item"
                            (userid)="selectedUser($event)" />
                    </li>
                    }

                </ul>

                @if (selectedUserName) {
                <app-tasks [userName]="selectedUserName" [id]="receivedId" />
                }
                @else {
                <p>Please click on the user to get the details</p>
                }

            </main>
        </div>
    </div>
</div>