<div class="newbie">
    <div class="newbie__inner container">
        <h2 class="newbie__heading">
            NewBie Projects
        </h2>
        <ul class="newbie__list">
            <li class="newbie__item">
                <a routerLink="/productlist" target="_blank" class="newbie__item-link">
                    <div class="newbie__item-container">
                        <img class="newbie__item-img" src="assets/Images/01_product-list-with-cart-main/preview.jpg"
                            alt="Preview Image">
                        <div class="newbie__item-name">Product List With Cart</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
