<div class="tourofheroes">
    <div class="tourofheroes__inner container ">
        <h1 class="tourofheroes__heading">Tour Of Heroes</h1>
        <div class="tourofheroes__path">
            <button class="default-btn tourofheroes__item">
                <a class="tourofheroes__link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </button>
            <button class="default-btn tourofheroes__item">
                <a class="tourofheroes__link" routerLink="heroes-list" routerLinkActive="active">List of Heroes</a>
            </button>
        </div>

        <!-- <div class="tourofheroes__top-heroes">
            <h2 class="tourofheroes__top-heroes-heading">
                Top Heroes
            </h2>
        </div> -->
    </div>


</div>
<router-outlet />