<div class="home">
    <div class="home__inner">
        <div class="home__details">
            <span>
                This page is built for personal projects, where you can achieve lot more here !!
            </span>
        </div>

        <div class="home__progress-component">
            <h1>This projects are in progress</h1>
            <a routerLink="/passwordgenerator">Password Generator(FM)</a>
            <a routerLink="/otpgenerator">Otpgenerator(FM - NB)</a>
            <a routerLink="/investmentapp">Investment App</a>
        </div>
    </div>
</div>