<div class="front-end-mentor">
    <div class="front-end-mentor__inner container">
        <ul class="front-end-mentor__list">
            <li class="front-end-mentor__item"><a routerLinkActive="active" routerLink="newbie" class="front-end-mentor__link" (click)="getRoute()" >Newbie</a></li>
            <li class="front-end-mentor__item"><a routerLinkActive="active" routerLink="intermediate" class="front-end-mentor__link">Intermediate</a></li>
            <li class="front-end-mentor__item"><a routerLinkActive="active" routerLink="advanced" class="front-end-mentor__link">Advanced</a></li>
            <li class="front-end-mentor__item"><a routerLinkActive="active" routerLink="guru" class="front-end-mentor__link">Guru</a></li>
        </ul>

    </div>
</div>

<router-outlet/>